/* 
.container{
    width: 667px;
    height: 180px;
    border: solid 1px black;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    
}

.profilePic{
    padding-top: 14px;
    padding-left: 14px;
}

img{
    width: 125px;
    border-radius: 88%;
    border: solid black .5px;
}

.nameaddySpliiter{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 8px;
}

.title{
    color: black;
    font-size: 50px;
    
}

.address{
    display: flex;    
    color: black;
    font-size: 24px;
} */